In [120]:
# !pip install pandas numpy seaborn matplotlib klib dtable scikit-learn joblib

In [121]:
import numpy as np
import pandas as pd

# for visualization
import matplotlib.pyplot as plt
import seaborn as sns


from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import PolynomialFeatures

In [122]:
file_path = "D:/Github/Major-Project-Sales-Analysis/Online Retail.xlsx"
df = pd.read_excel(file_path)

df.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom

In [123]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    541909 non-null  object
 1   StockCode    541909 non-null  object
 2   Description  540455 non-null  object
 3   Quantity     541909 non-null  int64
 4   InvoiceDate  541909 non-null  datetime64[ns]
 5   UnitPrice    541909 non-null  float64
 6   CustomerID   406829 non-null  float64
 7   Country      541909 non-null  object
dtypes: datetime64[ns](1), float64(2), int64(1), object(4)
memory usage: 33.1+ MB

In [124]:
df.isna().sum()

InvoiceNo           0
StockCode           0
Description      1454
Quantity            0
InvoiceDate         0
UnitPrice           0
CustomerID     135080
Country             0
dtype: int64

In [125]:
#checking what is null in each null rows
rows_with_na = df[df.isna().any(axis=1)]
rows_with_na.head(100)

# removing the null values
df.dropna(inplace=True)
df.isna().sum()

InvoiceNo      0
StockCode      0
Description    0
Quantity       0
InvoiceDate    0
UnitPrice      0
CustomerID     0
Country        0
dtype: int64

In [126]:
# droping the country column
df.drop(columns=['Country'],inplace=True)

In [127]:
df.duplicated().sum()

5225

In [128]:
# Creating another data Frame for cecking duplicate values in the original DataFrame

duplicate_values = df[df.duplicated()]
duplicate_values.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID
517,536409,21866,UNION JACK FLAG LUGGAGE TAG,1,2010-12-01 11:45:00,1.25,17908.0
527,536409,22866,HAND WARMER SCOTTY DOG DESIGN,1,2010-12-01 11:45:00,2.10,17908.0
537,536409,22900,SET 2 TEA TOWELS I LOVE LONDON,1,2010-12-01 11:45:00,2.95,17908.0
539,536409,22111,SCOTTIE DOG HOT WATER BOTTLE,1,2010-12-01 11:45:00,4.95,17908.0
555,536412,22327,ROUND SNACK BOXES SET OF 4 SKULLS,1,2010-12-01 11:49:00,2.95,17920.0

In [129]:
aggregated_df = df.groupby(['InvoiceNo', 'Description'], as_index=False)['Quantity'].sum()
aggregated_df.head()

  InvoiceNo                          Description  Quantity
0    536365       CREAM CUPID HEARTS COAT HANGER         8
1    536365    GLASS STAR FROSTED T-LIGHT HOLDER         6
2    536365  KNITTED UNION FLAG HOT WATER BOTTLE         6
3    536365       RED WOOLLY HOTTIE WHITE HEART.         6
4    536365         SET 7 BABUSHKA NESTING BOXES         2

In [130]:
# checking with specific invoiceNo if there is any data Duplication 

invoice_item_536412 = aggregated_df[aggregated_df['InvoiceNo'] == 536412]
invoice_item_536412

    InvoiceNo                          Description  Quantity
524    536412      SET 2 TEA TOWELS I LOVE LONDON          4
525    536412            12 DAISY PEGS IN WOOD BOX         8
526    536412        5 HOOK HANGER MAGIC TOADSTOOL         5
527    536412    5 HOOK HANGER RED MAGIC TOADSTOOL        10
528    536412               6 RIBBONS RUSTIC CHARM        10
529    536412         BABUSHKA LIGHTS STRING OF 10         2
530    536412                 BLUE POLKADOT PLATE          1
531    536412       CHRISTMAS CRAFT LITTLE FRIENDS         3
532    536412       CHRISTMAS CRAFT TREE TOP ANGEL         2
533    536412       COSY SLIPPER SHOES SMALL  RED          8
534    536412       COSY SLIPPER SHOES SMALL GREEN         2
535    536412                 DOLLY GIRL LUNCH BOX         1
536    536412            FELTCRAFT CHRISTMAS FAIRY         4
537    536412          FELTCRAFT CUSHION BUTTERFLY         4
538    536412                FELTCRAFT CUSHION OWL         3
539    536412             FELTCRAFT CUSHION RABBIT         3
540    536412                 FELTCRAFT DOLL EMILY         2
541    536412                 FELTCRAFT DOLL MOLLY         4
542    536412                 FELTCRAFT DOLL ROSIE         2
543    536412    FELTCRAFT PRINCESS CHARLOTTE DOLL         4
544    536412       FELTCRAFT PRINCESS OLIVIA DOLL         2
545    536412      FOLDING UMBRELLA CREAM POLKADOT         2
546    536412  FOLDING UMBRELLA PINKWHITE POLKADOT         1
547    536412  FOLDING UMBRELLA RED/WHITE POLKADOT         2
548    536412  FOLDING UMBRELLA WHITE/RED POLKADOT         1
549    536412                GREEN POLKADOT PLATE          1
550    536412           HOT WATER BOTTLE BABUSHKA          3
551    536412               JAM MAKING SET PRINTED        24
552    536412              LUNCH BAG  BLACK SKULL.         3
553    536412                  LUNCH BAG CARS BLUE         3
554    536412          LUNCH BAG DOLLY GIRL DESIGN         4
555    536412              LUNCH BAG RED RETROSPOT         1
556    536412           LUNCH BAG SPACEBOY DESIGN          3
557    536412              LUNCH BAG SUKI  DESIGN          3
558    536412      PAPER CHAIN KIT 50'S CHRISTMAS          1
559    536412                PINK  POLKADOT PLATE          1
560    536412             RED RETROSPOT MINI CASES         1
561    536412                 RED RETROSPOT PLATE          1
562    536412                   RED RETROSPOT TAPE        10
563    536412        RED TOADSTOOL LED NIGHT LIGHT         5
564    536412         REX CASH+CARRY JUMBO SHOPPER         1
565    536412           ROSE COTTAGE KEEPSAKE BOX          4
566    536412   ROUND SNACK BOXES SET OF 4 FRUITS          1
567    536412    ROUND SNACK BOXES SET OF 4 SKULLS         2
568    536412  ROUND SNACK BOXES SET OF4 WOODLAND          1
569    536412    S/4 VALENTINE DECOUPAGE HEART BOX         2
570    536412            SCANDINAVIAN REDS RIBBONS        16
571    536412              SET 10 LIGHTS NIGHT OWL         2
572    536412         SET OF 3 NOTEBOOKS IN PARCEL         6
573    536412                 SMALL POPCORN HOLDER         5
574    536412                    SOLDIERS EGG CUP          6
575    536412                  SPACEBOY LUNCH BOX          1
576    536412               TOTE BAG I LOVE LONDON        14
577    536412                    TRAVEL SEWING KIT         5

In [131]:
'''
Merging the aggregated dataframe with the original DataFrame.
Adding a additional column as quantity_agg that will give us total item bought in single invoice of specific stockNo
Then Deleting the duplicate rows of similar product name.

'''
df = df.merge(aggregated_df, on=['InvoiceNo','Description'], suffixes=('','_agg'), how='left')

df.drop_duplicates(['InvoiceNo','Description'], keep='first', inplace=True)

# df.duplicated().sum()

In [138]:
df.drop(columns=['Quantity'],inplace=True)

In [139]:
# Check 

invoice_item_536412 = df[df['InvoiceNo'] == 536412]
invoice_item_536412.head(100)

,InvoiceNo,StockCode,Description,InvoiceDate,UnitPrice,CustomerID,Quantity_agg
541,536412,20728,LUNCH BAG CARS BLUE,2010-12-01 11:49:00,1.65,17920.0,3
542,536412,22382,LUNCH BAG SPACEBOY DESIGN,2010-12-01 11:49:00,1.65,17920.0,3
543,536412,22326,ROUND SNACK BOXES SET OF4 WOODLAND,2010-12-01 11:49:00,2.95,17920.0,1
544,536412,22662,LUNCH BAG DOLLY GIRL DESIGN,2010-12-01 11:49:00,1.65,17920.0,4
545,536412,22383,LUNCH BAG SUKI DESIGN,2010-12-01 11:49:00,1.65,17920.0,3
546,536412,20727,LUNCH BAG BLACK SKULL.,2010-12-01 11:49:00,1.65,17920.0,3
547,536412,22328,ROUND SNACK BOXES SET OF 4 FRUITS,2010-12-01 11:49:00,2.95,17920.0,1
548,536412,22327,ROUND SNACK BOXES SET OF 4 SKULLS,2010-12-01 11:49:00,2.95,17920.0,2
549,536412,22630,DOLLY GIRL LUNCH BOX,2010-12-01 11:49:00,1.95,17920.0,1
550,536412,22629,SPACEBOY LUNCH BOX,2010-12-01 11:49:00,1.95,17920.0,1
551,536412,21245,GREEN POLKADOT PLATE,2010-12-01 11:49:00,1.69,17920.0,1
552,536412,21244,BLUE POLKADOT PLATE,2010-12-01 11:49:00,1.69,17920.0,1
553,536412,21242,RED RETROSPOT PLATE,2010-12-01 11:49:00,1.69,17920.0,1
554,536412,21243,PINK POLKADOT PLATE,2010-12-01 11:49:00,1.69,17920.0,1
556,536412,22273,FELTCRAFT DOLL MOLLY,2010-12-01 11:49:00,2.95,17920.0,4
557,536412,22940,FELTCRAFT CHRISTMAS FAIRY,2010-12-01 11:49:00,4.25,17920.0,4
558,536412,22652,TRAVEL SEWING KIT,2010-12-01 11:49:00,1.65,17920.0,5
559,536412,22759,SET OF 3 NOTEBOOKS IN PARCEL,2010-12-01 11:49:00,1.65,17920.0,6
560,536412,21880,RED RETROSPOT TAPE,2010-12-01 11:49:00,0.65,17920.0,10
561,536412,21738,COSY SLIPPER SHOES SMALL RED,2010-12-01 11:49:00,2.95,17920.0,8
562,536412,22077,6 RIBBONS RUSTIC CHARM,2010-12-01 11:49:00,1.65,17920.0,10
563,536412,85049E,SCANDINAVIAN REDS RIBBONS,2010-12-01 11:49:00,1.25,17920.0,16
564,536412,22961,JAM MAKING SET PRINTED,2010-12-01 11:49:00,1.45,17920.0,24
565,536412,21448,12 DAISY PEGS IN WOOD BOX,2010-12-01 11:49:00,1.65,17920.0,8
566,536412,22837,HOT WATER BOTTLE BABUSHKA,2010-12-01 11:49:00,4.65,17920.0,3
567,536412,22749,FELTCRAFT PRINCESS CHARLOTTE DOLL,2010-12-01 11:49:00,3.75,17920.0,4
573,536412,22243,5 HOOK HANGER RED MAGIC TOADSTOOL,2010-12-01 11:49:00,1.65,17920.0,10
574,536412,22141,CHRISTMAS CRAFT TREE TOP ANGEL,2010-12-01 11:49:00,2.10,17920.0,2
575,536412,22144,CHRISTMAS CRAFT LITTLE FRIENDS,2010-12-01 11:49:00,2.10,17920.0,3
580,536412,22242,5 HOOK HANGER MAGIC TOADSTOOL,2010-12-01 11:49:00,1.65,17920.0,5
582,536412,21731,RED TOADSTOOL LED NIGHT LIGHT,2010-12-01 11:49:00,1.65,17920.0,5
584,536412,21739,COSY SLIPPER SHOES SMALL GREEN,2010-12-01 11:49:00,2.95,17920.0,2
586,536412,22271,FELTCRAFT DOLL ROSIE,2010-12-01 11:49:00,2.95,17920.0,2
588,536412,22274,FELTCRAFT DOLL EMILY,2010-12-01 11:49:00,2.95,17920.0,2
590,536412,22751,FELTCRAFT PRINCESS OLIVIA DOLL,2010-12-01 11:49:00,3.75,17920.0,2
591,536412,21034,REX CASH+CARRY JUMBO SHOPPER,2010-12-01 11:49:00,0.95,17920.0,1
593,536412,22568,FELTCRAFT CUSHION OWL,2010-12-01 11:49:00,3.75,17920.0,3
596,536412,22570,FELTCRAFT CUSHION RABBIT,2010-12-01 11:49:00,3.75,17920.0,3
597,536412,22569,FELTCRAFT CUSHION BUTTERFLY,2010-12-01 11:49:00,3.75,17920.0,4
599,536412,22086,PAPER CHAIN KIT 50'S CHRISTMAS,2010-12-01 11:49:00,2.95,17920.0,1
602,536412,22968,ROSE COTTAGE KEEPSAKE BOX,2010-12-01 11:49:00,9.95,17920.0,4
603,536412,22902,TOTE BAG I LOVE LONDON,2010-12-01 11:49:00,2.10,17920.0,14
606,536412,21710,FOLDING UMBRELLA PINKWHITE POLKADOT,2010-12-01 11:49:00,4.95,17920.0,1
607,536412,21708,FOLDING UMBRELLA CREAM POLKADOT,2010-12-01 11:49:00,4.95,17920.0,2
608,536412,21711,FOLDING UMBRELLA WHITE/RED POLKADOT,2010-12-01 11:49:00,4.95,17920.0,1
609,536412,22179,SET 10 LIGHTS NIGHT OWL,2010-12-01 11:49:00,6.75,17920.0,2
610,536412,22197,SMALL POPCORN HOLDER,2010-12-01 11:49:00,0.85,17920.0,5
611,536412,22900,SET 2 TEA TOWELS I LOVE LONDON,2010-12-01 11:49:00,2.95,17920.0,4
612,536412,21706,FOLDING UMBRELLA RED/WHITE POLKADOT,2010-12-01 11:49:00,4.95,17920.0,2
613,536412,22468,BABUSHKA LIGHTS STRING OF 10,2010-12-01 11:49:00,6.75,17920.0,2
614,536412,20725,LUNCH BAG RED RETROSPOT,2010-12-01 11:49:00,1.65,17920.0,1
615,536412,85184C,S/4 VALENTINE DECOUPAGE HEART BOX,2010-12-01 11:49:00,2.95,17920.0,2
619,536412,22988,SOLDIERS EGG CUP,2010-12-01 11:49:00,1.25,17920.0,6
621,536412,20750,RED RETROSPOT MINI CASES,2010-12-01 11:49:00,7.95,17920.0,1

In [140]:
df.head()

,InvoiceNo,StockCode,Description,InvoiceDate,UnitPrice,CustomerID,Quantity_agg
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,2010-12-01 08:26:00,2.55,17850.0,6
1,536365,71053,WHITE METAL LANTERN,2010-12-01 08:26:00,3.39,17850.0,6
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,2010-12-01 08:26:00,2.75,17850.0,8
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,2010-12-01 08:26:00,3.39,17850.0,6
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,2010-12-01 08:26:00,3.39,17850.0,6

In [142]:
df.info()
df.describe()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 396577 entries, 0 to 406828
Data columns (total 7 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   InvoiceNo     396577 non-null  object
 1   StockCode     396577 non-null  object
 2   Description   396577 non-null  object
 3   InvoiceDate   396577 non-null  datetime64[ns]
 4   UnitPrice     396577 non-null  float64
 5   CustomerID    396577 non-null  float64
 6   Quantity_agg  396577 non-null  int64
dtypes: datetime64[ns](1), float64(2), int64(1), object(3)
memory usage: 24.2+ MB

           UnitPrice     CustomerID   Quantity_agg
count  396577.000000  396577.000000  396577.000000
mean        3.455172   15275.496269      12.373103
std        69.761845    1714.292253     251.934375
min         0.000000   12346.000000  -80995.000000
25%         1.250000   13923.000000       2.000000
50%         1.950000   15133.000000       6.000000
75%         3.750000   16779.000000      12.000000
max     38970.000000   18287.000000   80995.000000